[flake8]

# Set the maximum length that any line (with some exceptions) may be.
max-line-length = 120
# Set the maximum allowed McCabe complexity value for a block of code.
max-complexity = 10

# Print the total number of errors.
count = True
# Print the source code generating the error/warning in question.
show-source = False
# Count the number of occurrences of each error/warning code and print a report.
statistics = True

# Provide a comma-separated list of glob patterns to exclude from checks.
exclude =
  .git,
  __pycache__,
  *venv,
  build
  tests/fixtures/*
  */*/migrations/*

# Specify a list of codes to ignore.
ignore =
    E133,
    E203,
    W503
# Specify the list of error codes you wish Flake8 to report.
select =
    E,
    W,
    F,
    C
